@font-face {
  font-family: 'Nerd Font';
  src: url('./fonts/3270NerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PixelBasel';
  src: url('./fonts/Pixelbasel-zr5Ll.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blueface';
  src: url('./fonts/blinkmacsystemfont-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Blueface-semibold';
  src: url('./fonts/blinkmacsystemfont-medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
